@CHARSET "UTF-8";

.campoData {
	width: 66px;
}

#formCadTarefa label, #formLogin label {
	float: left;
	padding-top: 3px;
}

#formCadTarefa label {
	width: 110px;
}

#formLogin label {
	width: 50px;
}

.msgErro {
	color: red;
}

#divTopoPagina {
	width: 100%;
	float: left;
}

#tituloPagina {
	margin: 0;
	float: left;
}

#logout {
	float: right;
}

.divClean {
	clear: both;
}

table {
	border: 0;
	border-collapse: collapse;
}

th {
	background-color: #AAAAFF;
	text-align: center;
}

.linhaPar {
	background-color: #EEEEFF;
}

.linhaImpar {
	background-color: transparent;
}

.tdCenter {
	text-align: center;
}

.tableList a {
	padding: 0 3px;
}

.tableList td {
	padding: 0 5px;
}

.tdTextoLongo {
	width: 50%;
}