@CHARSET "UTF-8";

.campoData {
	width: 66px;
}

label {
	float: left;
	width: 110px;
}

.msgErro {
	color: red;
}

#divTopoPagina {
	width: 100%;
	float: left;
}

#tituloPagina {
	margin: 0;
	float: left;
}

#logout {
	float: right;
}

.divClean {
	clear: both;
}